aside(class='sidebar sticky top-0 bg-gray-800')
  .sidebar-top.p-3.py-6.bg-blue-600
    a(href='/' class='block text-center')
      img(src='/images/logo.svg', alt='Booker logo', class='sidebar-logo inline-block')
    .mt-8.text-center
      div.inline-block.rounded-full(style=`background: rgba(255,255,255,.5) url('https://robohash.org/${user}.png') center/contain no-repeat; width: 70px; height: 70px;`)
      .text-white.mt-1 #{user}

  .sidebar-bottom
    .flex.flex-col.justify-between
      nav.flex.flex-col.py-5.px-6
        a(class='block text-sm p-5 pl-10 text-white sidebar-dashboard-item' href='/') Dashboard
        a(class='block text-sm p-5 pl-10 text-white sidebar-categories-item' href='/categories') Categories
        a(class='block text-sm p-5 pl-10 text-white sidebar-purchase-item' href='/purchases') Purchases
        a(class='block text-sm p-5 pl-10 text-white sidebar-reports-item' href='/reports') Reports
        a(class='block text-sm p-5 pl-10 text-white sidebar-settings-item' href='/settings') Settings
      .px-6.absolute.bottom-0
        a(class='block text-sm p-5 pl-10 text-white sidebar-logout' href='/logout') Logout
