html
  head
    title Pet NodeJS
    link(rel='shortcut icon', href='/favicons/favicon.ico')
    link(rel='stylesheet', href='/dist/output.css')
    // link(rel='stylesheet', href='/styles/iziToast.min.css')
  body
    block content
  footer
    // script(src='/js/iziToast.min.js', async, defer)
    // script(src='/src/js/helpers/request.js', async, defer)
    block scripts
