html
  head
    title Pet NodeJS
    link(rel='shortcut icon', href='/favicons/favicon.ico')
    link(rel='stylesheet', href='/dist/output.css')
    block styles
  body
    main.flex
      include ../includes/sidebar.pug
      .flex.flex-col.bg-gray-100.flex-grow.relative
        .p-4
          block content
        include ../includes/footer.pug
        block scripts
