extends ../../layouts/default

block content
  div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/5 ml-5')
    div(class='border-b p-4')
      div.font-bold Add category
    div
      form(method='post', action='/category' class='p-5 mb-0')
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Title
          input(type='text', class='block text-input w-full', name='title', required)
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Notes
          textarea(class='block text-input w-full', name='notes')
        if categories
          div.mb-5
            label(class='text-sm text-gray-500 mb-1 block') Parent category
            select(
              name='parent'
              disabled=categories.length === 0
              class='block appearance-none w-full bg-gray-100 border border-gray-400 text-gray-500 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
            )
              option(value='', selected='selected') Select parent category
              each category in categories
                if !category.parent
                  option(value=category._id)= category.title
        button(class='blue-btn' type='submit') Create
        if error
          div.bg-red-200.text-red-400.rounded.mt-2.text-center.p-2.border-red-400.border.text-sm= error
