extends ../../layouts/default

block content
  div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/5 ml-5')
    div.border-b.p-4.flex.justify-between.items-center
      div.font-bold Edit category
    div
      form(method='post', action=`/category/${category.id}` class='p-5 mb-0')
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Title
          input(type='text', class='block text-input w-full', name='title', value=category.title, required)
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Notes
          textarea(class='block text-input w-full', name='notes')= category.notes
        if category.parent && categories
          div.mb-5
            label(class='text-sm text-gray-500 mb-1 block') Parent category
            select(
              name='parent'
              disabled=categories.length === 1
              class='block appearance-none w-full bg-gray-100 border border-gray-400 text-gray-500 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
            )
              option(value='') Select parent category
              each cat in categories
                if !cat.parent
                  option(value=cat.id, selected=category.parent == cat.id)= cat.title
        div.mt-5.flex.items-center
          input(type='checkbox', id='removeCategory' name='remove')
          label(class='inline-block ml-2 text-gray-500 text-xs', for='removeCategory') Remove category
        button(class='blue-btn mt-5' type='submit') Update
        if error
          div.bg-red-200.text-red-400.rounded.mt-2.text-center.p-2.border-red-400.border.text-sm= error
