extends ../../layouts/default

block content
  a(class='inline-block font-bold bg-blue-500 rounded text-white py-3 px-5 mb-3 hover:bg-blue-800', href='/category') Add category
  div.flex.justify-between.items-start.mb-5
    div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-3/5 flex-shrink-0')
      div(class='border-b p-4')
        div.font-bold Categories
      div
        if categories && categories.length > 0
          each category, index in categories
            div(class=index !== categories.length - 1?'border-b':'')
              div.flex.justify-between.items-center
                a.block.px-4.py-3= category.title
                a.edit-icon.px-4(href=`/category/${category._id}`)
              if category.subcategories.length > 0
                div.pl-3
                  each subcategory in category.subcategories
                    div.flex.justify-between.items-center
                      a.block.py-2.px-6= subcategory.title
                      a.edit-icon.px-4(href=`/category/${subcategory._id}`)
        else
          div.p-5.text-center There are no categories yet