extends ../../layouts/default

block content
  div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/5 ml-5')
    div(class='border-b p-4')
      div.font-bold Edit purchase
    div
      form(method='post', action=`/purchase/${purchase.id}` class='p-5 mb-0')
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Amount
          input(type='number', class='block text-input w-full', name='amount', required, value=purchase.amount)
        div(class='mb-5')
          label(class='text-sm text-gray-500 mb-1 block') Notes
          textarea(class='block text-input w-full', name='notes')= purchase.notes
        if categories
          div.mb-5
            label(class='text-sm text-gray-500 mb-1 block') Purchase category
            select(
              required
              name='category'
              disabled=categories.length === 0
              class='block appearance-none w-full bg-gray-100 border border-gray-400 text-gray-500 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
            )
              option(value='') Select category
              each category in categories
                option(value=category.id, selected=purchase.category == category.id)= category.title
        div.mt-5.mb-5.flex.items-center
          input(type='checkbox', id='removePurchase' name='remove')
          label(class='inline-block ml-2 text-gray-500 text-xs', for='removePurchase') Remove purhcase        
        button(class='blue-btn' type='submit') Update
        if error
          div.bg-red-200.text-red-400.rounded.mt-2.text-center.p-2.border-red-400.border.text-sm= error
