extends ../../layouts/default

block content
  a(class='inline-block font-bold bg-blue-500 rounded text-white py-3 px-5 mb-3 hover:bg-blue-800', href='/purchase') Add purchase
  div.flex.justify-between.items-start.mb-5
    div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-3/5 flex-shrink-0')
      div(class='border-b')
        if purchases && Object.keys(purchases).length > 0
          each date in Object.keys(purchases)
            div
              div.font-bold.p-4.border-b= date
              each purchase, index in purchases[date]
                div.border-b
                  div.flex.justify-between.items-center.px-4.py-3
                    div
                      div
                        span #{purchase.category}
                        if purchase.parent
                          span #{` / ${purchase.parent}`}
                      if purchase.notes
                        div.pt-2.text-xs #{purchase.notes}
                    div.flex.items-center
                      a.block(class=index % 2 === 0?'bg-gray-100':'bg-white')= purchase.amount
                      a.edit-icon.ml-4(href=`/purchase/${purchase.id}`)
        else
          div.p-5.text-center There are no purchases yet
      if pages > 1
        div.flex.justify-between
          if currentPage - 1 !== 0
            a.link.inline-block.ml-3.my-3(href=`/purchases/${currentPage - 1}`) Prev
          else
            span
          if currentPage + 1 <= pages
            a.link.inline-block.mr-3.my-3(href=`/purchases/${currentPage + 1}`) Next
