@tailwind base;

@tailwind components;

@tailwind utilities; 

.text-input {
  @apply border border-gray-400 p-2 rounded outline-none;
}
.text-input:focus {
  @apply shadow-outline bg-blue-100 border-blue-100;
}
.blue-btn {
  @apply outline-none block mx-auto bg-blue-500 text-white font-bold px-6 py-3 rounded;
}
.blue-btn:hover {
  @apply bg-blue-900;
}

.link {
  @apply text-blue-500 border-b border-blue-500;
}
.link:hover {
  @apply text-blue-900 border-blue-900;
}
.sidebar {
  width: 280px;
  height: 100vh;
  @apply flex-shrink-0;
}
.sidebar-top {
}
.sidebar-bottom {
}
.sidebar-logo {
  width: 130px;
}
.sidebar-purchase-item {
  background: url('/images/icon-money.svg') 10px 50%/20px no-repeat;
}
.sidebar-dashboard-item {
  background: url('/images/icon-dashboard.svg') 10px 50%/20px no-repeat;
}
.sidebar-categories-item {
  background: url('/images/icon-categories.svg') 10px 50%/20px no-repeat;
}
  .sidebar-reports-item {
  background: url('/images/icon-reports.svg') 10px 50%/20px no-repeat;
}
.sidebar-settings-item {
  background: url('/images/icon-settings.svg') 10px 50%/20px no-repeat;
}
.sidebar-logout {
  background: url('/images/icon-logout.svg') 10px 50%/20px no-repeat;
}
.dots-menu {
  width: 20px;
  background: url('/images/icon-vertical-dots.svg') 0/20px no-repeat;
  @apply cursor-pointer;
}
.dots-menu:hover {
  @apply bg-gray-200 rounded;
}
.edit-icon {
  @apply block;
  width: 15px;
  height: 15px;
  background: url('/images/icon-edit.svg') 0/15px no-repeat;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .8;
}