html
  head
    title Pet NodeJS
    link(rel='shortcut icon', href='/favicons/favicon.ico')
    link(rel='stylesheet', href='/dist/output.css')
  body
    main.flex.justify-center.align-middle.h-screen.flex-col
      div.text-center
        div.text-6xl.text-gray-700 404
        a.inline-block.link(href='/') Dashboard
