extends ../layouts/default.pug

block content
  div(class='flex flex-no-wrap items-start sm:px-4 pt-6 pb-8')
    div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/4 flex-shrink-0 mr-5')
      div.font-bold.p-4.border-b Recent purchases
      if purchases && purchases.length > 0
          each purchase, index in purchases
            div(class=index % 2 === 0 ? 'bg-gray-100':'bg-white', class=index === purchases.length - 1?'':'border-b')
              div.flex.justify-between.items-center.px-4.py-3
                div
                  div= purchase.category.title
                  div.pt-2
                    span.text-xs #{formatDate(purchase.createdAt)}
                    if purchase.notes
                      span.text-xs= ` / ${purchase.notes}`
                div.flex.items-center
                  a.block= purchase.amount
                  a.edit-icon.ml-4(href=`/purchase/${purchase.id}`)
      else
        div.p-5.text-center There are no purchases yet

    div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/4')
      div(class='border-b p-4 font-bold') Top purchases categories
      div
        if topCategories.length > 0
          ul
            each item in topCategories
              li.p-4.border-b.flex.justify-between
                - const { category, count } = item
                span= category
                span= count
        else
          div.p-5.text-center Add your first purchase #[a(href='/purchases', class='link') here]

