extends ../layouts/auth.pug

block content
  main(class='flex flex-col justify-center align-center bg-blue-600 min-h-screen')
    div(class='bg-white shadow-md xl:w-1/4 lg:w-1/3 md:w-1/2 sm:w-3/4 mx-auto rounded p-6')
      form(method='post', action='/register' class='m-0', id='registerForm')
        div(class='text-lg font-semibold text-center text-gray-700') Registration form
        div(class='flex flex-col')
          div(class='mt-5')
            label(class='text-sm text-gray-500 mb-1 block') Login
            input(type='text', class='block text-input w-full', name='login', id='login', required)
          div(class='mt-5')
            label(class='text-sm text-gray-500 mb-1 block')  Password
            input(type='password', class='block text-input w-full', name='password', id='password', required)
          div(class='mt-5')
            label(class='text-sm text-gray-500 mb-1 block')  Confirm password
            input(type='password', class='block text-input w-full', name='passwordConfirm', id='passwordConfirm', required)
        button(class='blue-btn mt-5', type='submit') Register
        div(class='w-full mt-5 text-center')
          a(class='link', href='/login') Login
        if error
          div.bg-red-200.text-red-400.rounded.mt-2.text-center.p-2.border-red-400.border.text-sm= error
block scripts 
  // script(src='/src/js/register.js', async, defer)