extends ../layouts/default.pug

block content
  div(class='flex flex-no-wrap items-start sm:px-4 pt-6 pb-8')
    div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/4 flex-shrink-0 mr-5')
      div.font-bold.p-4.border-b All purchases
      div.p-5
        if purchases
          canvas(id='purchases', data-purchases=purchases)
        else
          .text-center Not enough data to build the chart
    //- div(class='bg-white border-t border-b sm:border-l sm:border-r sm:rounded mb-6 w-2/4 flex-shrink-0 mr-5')
    //-   div.font-bold.p-4.border-b Current week purchases
    //-   div.p-5
        // canvas(id='purchases', data-purchases=purchases)
block scripts
  script(src='/dist/reports.js')
